In [1]:
import Pkg; Pkg.add("Plots")

   Resolving package versions...
  No Changes to `C:\Users\kiramishima\.julia\environments\v1.10\Project.toml`
  No Changes to `C:\Users\kiramishima\.julia\environments\v1.10\Manifest.toml`

In [2]:
using DataFrames
using CSV
using HTTP
using Plots

In [3]:
df = CSV.read("medals_by_country_2016.csv", DataFrame)

10×4 DataFrame
 Row │ country        Bronze  Gold   Silver
     │ String15       Int64   Int64  Int64
─────┼──────────────────────────────────────
   1 │ United States      67    137      52
   2 │ Germany            67     47      43
   3 │ Great Britain      26     64      55
   4 │ Russia             35     50      28
   5 │ China              35     44      30
   6 │ France             21     20      55
   7 │ Australia          25     23      34
   8 │ Italy              24      8      38
   9 │ Canada             61      4       4
  10 │ Japan              34     17      13

In [4]:
describe(df)

4×7 DataFrame
 Row │ variable  mean    min        median  max            nmissing  eltype
     │ Symbol    Union…  Any        Union…  Any            Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────
   1 │ country           Australia          United States         0  String15
   2 │ Bronze    39.5    21         34.5    67                    0  Int64
   3 │ Gold      41.4    4          33.5    137                   0  Int64
   4 │ Silver    35.2    4          36.0    55                    0  Int64

In [27]:
plot(bar(df.country, df.Gold, labels="Gold"), xrotation = 90)

title!("Gold medals by Country")

savefig("gold_medals.png")

"d:\\Workspace\\ws_julia\\workshop_julia\\intro_dataframes\\gold_medals.png"