In [3]:
import Pkg; Pkg.add("Plots")

   Resolving package versions...
  No Changes to `C:\Users\kiramishima\.julia\environments\v1.10\Project.toml`
  No Changes to `C:\Users\kiramishima\.julia\environments\v1.10\Manifest.toml`

In [4]:
using DataFrames
using CSV
using HTTP
using Plots

In [5]:
df = CSV.read("population_total.csv", DataFrame)

4185×3 DataFrame
  Row │ country        year    population
      │ String31       Int64?  Int64?
──────┼───────────────────────────────────
    1 │ China            2020  1439323776
    2 │ China            2019  1433783686
    3 │ China            2018  1427647786
    4 │ China            2017  1421021791
    5 │ China            2016  1414049351
    6 │ China            2015  1406847870
    7 │ China            2010  1368810615
    8 │ China            2005  1330776380
    9 │ China            2000  1290550765
   10 │ China            1995  1240920535
   11 │ China            1990  1176883674
  ⋮   │       ⋮          ⋮         ⋮
 4176 │ Indonesia        1960    87751068
 4177 │ Indonesia        1955    77273425
 4178 │ India            1975   623102897
 4179 │ India            1970   555189792
 4180 │ India            1965   499123324
 4181 │ United States    1965   199733676
 4182 │ United States    1960   186720571
 4183 │ United States    1955   171685336
 4184 │ India            1960   450547679
 4185 │ India            1955   409880595
                         4164 rows omitted

In [7]:
describe(df)

3×7 DataFrame
 Row │ variable    mean       min          median     max         nmissing  el ⋯
     │ Symbol      Union…     Any          Union…     Any         Int64     Ty ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ country                Afghanistan             Zimbabwe           0  St ⋯
   2 │ year        1993.96    1955         1995.0     2020               7  Un
   3 │ population  2.45329e7  644          3.74276e6  1439323776         7  Un
                                                                1 column omitted